.group{
    position: absolute;
    width: 25%;
    display: inline-grid;
    top: 13%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

.buttonStyle{
  padding: 5%;
  margin-bottom: 15%;
  font-size: 20px;
  color:black;
  background-color: #b9e65d;
  border:1px solid black;
  font-family: sans-serif;
}

.primer{
  /* border: 1px solid black; */
    width: 150px;
    height: 240px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    /* background-color: black; */
    z-index: 1;
    cursor: pointer;
}

.botonN{
  position: absolute;
  bottom: 5px;
  border: none;
  font-size: 20px;
  width: 10%;
  height: 40px;
  left: 44.5%;
  background-color: rgb(185, 230, 93);
  border: 1px solid black;
}

.botonN:hover{
  color: white;
  background-color: green;
  transition: 1s;
  cursor: pointer;
}

#back {
  width: 150%;
  background-color: rgb(185, 230, 93);
  border: solid black 1px;
  padding: 15px;
  color: black;
  font-size: 20px;
  font-family: sans-serif;
  cursor: pointer;
}

#float2{
	width: 90%;
	border: 1px solid black;
	height: 300px;
	position: absolute;
  z-index: 1;
	transform: translateY(-50%);
	transform: translateX(-50%);
	background-color: #f73c50;
	top: 30%;
	left: 50%;
	transition-delay: 4s;
	display: flex;
justify-content: center;
align-items: center;
}
#float3{
	width: 90%;
	border: 1px solid black;
	height: 300px;
	position: absolute;
  z-index: 1;
	transform: translateY(-50%);
	transform: translateX(-50%);
	background-color: #f73c50;
	top: 30%;
	left: 50%;
	transition-delay: 4s;
	display: flex;
justify-content: center;
align-items: center;
}
#float4{
	width: 90%;
	border: 1px solid black;
	height: 300px;
	position: absolute;
  z-index: 1;
	transform: translateY(-50%);
	transform: translateX(-50%);
	background-color: #f73c50;
	top: 30%;
	left: 50%;
	transition-delay: 4s;
	display: flex;
justify-content: center;
align-items: center;
}
#float5{
	width: 90%;
	border: 1px solid black;
	height: 300px;
	position: absolute;
  z-index: 1;
	transform: translateY(-50%);
	transform: translateX(-50%);
	background-color: #f73c50;
	top: 30%;
	left: 50%;
	transition-delay: 4s;
	display: flex;
justify-content: center;
align-items: center;
}

#float{
	display: none;
}#floatL2{
	display: none;
}#floatL3{
	display: none;
}#floatL1{
	display: none;
}

.buttonStyle:hover{
  background-color: green;
  border:1px solid black;
  color: white;
  transition:1s;
}

body{
  background-color: lightgreen;
}

.buttonStyle2{
  padding: 5%;
  margin-bottom: 15%;
  font-size: 20px;
  background-color: rgba(185, 230, 93, 0.5);#b9e65d;
  border:1px solid black;
  font-family: sans-serif;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  h2{
    font-size: 50px;
    text-align: center;
  }
  .group{
    top: 20%;
    left: 50%;
    position: absolute;
    width: 60%;
  }
  .buttonStyle{
    font-size: 40px;
  }
  .buttonStyle2{
    font-size: 40px;
  }
}
