/*Hoja de estilos*/
#entorno {
	/* display: block; */
	margin: 0 auto;
	/* border: 1px solid black; */
	display: flex;
justify-content: center;
align-items: center;
}

#fondo {
	opacity: 0.3;
}

#float2{
	width: 90%;
	/* border: 1px solid black; */
	height: 300px;
	position: absolute;
	transform: translateY(-50%);
	transform: translateX(-50%);
	background-color: #7fff00a1;
	top: 25%;
	left: 50%;
	transition-delay: 4s;
	display: flex;
justify-content: center;
align-items: center;
}

#float{
	display: none;
}

#noClick{
	display: block;

}

#noClick2{
	width: 547px;
	/* border: 1px solid black; */
	height: 523px;
	position: absolute;
	transform: translateY(-50%);
	transform: translateX(-50%);
	background-color: #00000000;
	top: 1%;
	left: 50%;
	transition: -1s;

	display: flex;
justify-content: center;
align-items: center;
}

.center{
	text-align: center;
    font-size: 130px;
    /*margin: 10.2%;*/
    font-family: cursive;
    /* display: -webkit-box; */
}

.movil{
	cursor: grab;
}
