.img {
  margin-right: 100px;
  width: 150px;
  cursor: pointer;
}

.fondo {
  display: inline-block;
  left: 50%;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(-50%);
  top: 10%;
  width: 250px;
  opacity: 0.3;
}

#voluble{
  width: 90%;
  /* border: 1px solid black; */
  height: 300px;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(-50%);
  background-color: #7fff00a1;
  top: 15%;
  left: 50%;
  border: 1px solid black;
	display: flex;
justify-content: center;
align-items: center;
}

#voluble2{
  width: 90%;
  /* border: 1px solid black; */
  height: 300px;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(-50%);
  background-color: #ff0000a1;
  top: 15%;
  left: 50%;
  border: 1px solid black;
	display: flex;
justify-content: center;
align-items: center;
}

#n{
  width: 90%;
  /* border: 1px solid black; */
  height: 300px;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(-50%);
  background-color: #7fff00a1;
  top: 15%;
  left: 50%;
  border: 1px solid black;
  display: none;
justify-content: center;
align-items: center;
}

#i{
  width: 90%;
  /* border: 1px solid black; */
  height: 300px;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(-50%);
  background-color: #7fff00a1;
  top: 15%;
  left: 50%;
  border: 1px solid black;
  display: none;
justify-content: center;
align-items: center;
}

.center{
  text-align: center;
    font-size: 130px;
    /*margin: 10.2%;*/
    font-family: cursive;
    /* display: -webkit-box; */
}

#no{
  display: none;
}

#yes{
  /* border: 1px solid black; */
    height: -webkit-fill-available;
    background-color: #00000000;
    display: block;
    position: relative;
}
