@font-face {
  font-family: font;
  src: url(../../font.ttf);
}

.group {
  position: absolute;
  width: 25%;
  display: inline-grid;
  top: 13%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.buttonStyle {
  font-family: sans-serif;
  padding: 5%;
  margin-bottom: 15%;
  font-size: 20px;
  color: black;
  background-color: #b9e65d;
  border: 1px solid black;
}

.buttonStyle:hover {
  background-color: green;
  border: 1px solid black;
  color: white;
  transition: 1s;
}

.logout{
  width: 50px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;
  z-index:1;
}

.volver{
  text-decoration: none;
  color: black;
  position: absolute;
  bottom: 0;
  margin: 5px;
}

.bodyMiddle {
  background-color: lightblue;
}

.buttonStyle2 {
  padding: 5%;
  margin-bottom: 15%;
  font-size: 20px;
  background-color: rgba(185, 230, 93, 0.5);
  #b9e65d;
  border: 1px solid black;
}

.downRight {
  font-family: sans-serif;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: 5px;
}

.image1 {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 3px solid black;
  margin-left: 12%;
  background-color: white;
}

h2 {
  font-family: sans-serif;
}
.primer{
  /* border: 1px solid black; */
    width: 150px;
    height: 240px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    /* background-color: black; */
    z-index: 1;
    cursor: pointer;
}
.segundo{
  /* border: 1px solid black; */
    width: 150px;
    height: 240px;
    position: absolute;
    bottom: 120px;
    right: 100;
    left: 51px;
    margin: 5px;
    /* background-color: black; */
    z-index: 1;
    cursor: pointer;
}
.tercero{
  /* border: 1px solid black; */
    width: 150px;
    height: 240px;
    position: absolute;
    bottom: 340px;
    right: 710px;
    margin: 5px;
    /* background-color: black; */
    z-index: 1;
    cursor: pointer;
}
.cuarto{
  /* border: 1px solid black; */
    width: 150px;
    height: 240px;
    position: absolute;
    top: 50px;
    right: 70px;
    margin: 5px;
    /* background-color: black; */
    z-index: 1  ;
    cursor: pointer;
}

.botonN{
  position: absolute;
  bottom: 5px;
  border: none;
  font-size: 20px;
  width: 10%;
  height: 40px;
  left: 48%;
  background-color: rgb(185, 230, 93);
}

.botonN:hover{
  color: white;
  background-color: green;
  transition: 1s;
  cursor: pointer;
}

#back {
  width: 150%;
  background-color: rgb(185, 230, 93);
  border: solid black 1px;
  padding: 15px;
  color: black;
  font-size: 20px;
  font-family: sans-serif;
  cursor: pointer;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .emailField {
    width: 52%;
    height: 100px;
    text-align: left;
    margin-top: 5%;
  }
  h2{
    font-size: 50px;
    text-align: center;
  }
  .group{
    top: 20%;
    left: 50%;
    position: absolute;
    width: 60%;
  }
  .buttonStyle{
    font-size: 40px;
  }
}
