body {
    background:none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: sans-serif;
}

section img{
    width:auto;
    max-width: 50%;
    height:auto;
    margin: 20px auto;
    display: block;
    float:left;
    padding: 0;
}

header {
    background: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    min-height:80px;
    margin: 0;
    padding: 0;
}

header h1{
    text-align: center;
    font-size: 35px;
    color: #000;
    padding: 5px 0;
    margin: 0;
}

section h3{
    text-align: left;
    font-size: 20px;
    padding: 0 0 30px 0;
    margin: 0;
}

section {
    width: 90%;
    min-width: 220px;
    max-width: 380px;
    height:auto;
    padding:10px;
    background: #FFF;
    color:#000;
    padding: 3px 10px;
    margin: 90px auto 0 auto;
}

section:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

section h1{
    text-align: center;
    font-size: 35px;
    color: #FFF;
}

p {
    color: #666;
}

#dialog {
    min-width:500px;
    position: absolute;
    padding: 0;
    top:40%;
    left:50%;
    margin-left:-250px;
    color: #CCC;
    border:1px solid #CCC;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
}

.buttonDialog {
    border: 1px solid #910;
    background: #F00;
    color:#FFF;
    padding: 5px 10px;
    margin: 0 3px 0 0;
    font-weight: bold;
}

#dialog button.close {
    visibility:hidden;
}

#dialog button {
    display:block;
    margin: 0 auto;
}

#dialog button {
    background: #F00;
    color:#FFF;
    padding: 10px 18px;
    margin: 0 3px 15px 0;
    font-weight: bold;
    color: #fff;
    background-color: #c0392b;
    border-radius: 3px;
    margin-left: 37%;
}

#dialog .body {
    padding: 15px;
}

#dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}
