@font-face {
  font-family: sans-serif;
  src: url(../../font.ttf);
}

.group {
  position: absolute;
  width: 25%;
  display: inline-grid;
  top: 13%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.buttonStyle {
  font-family: sans-serif;
  padding: 5%;
  margin-bottom: 15%;
  font-size: 20px;
  color: black;
  background-color: #b9e65d;
  border: 1px solid black;
}

.buttonStyle:hover {
  background-color: green;
  border: 1px solid black;
  color: white;
  transition: 1s;
}

.bodyScreen {
  background-color: #f5bc51;
}

.buttonStyle2 {
  padding: 5%;
  margin-bottom: 15%;
  font-size: 20px;
  background-color: rgba(185, 230, 93, 0.5);
  #b9e65d;
  border: 1px solid black;
}

.downRight {
  font-family: font;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: 5px;
}

.scsec::webkit-scrollbar {
  width: 7px;
  background: transparent;
}

h2 {
  font-family: sans-serif;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .emailField {
    width: 52%;
    height: 100px;
    text-align: left;
    margin-top: 5%;
  }

  h2 {
    font-size: 50px;
    text-align: center;
  }

  .group {
    top: 20%;
    left: 50%;
    position: absolute;
    width: 60%;
  }

  .buttonStyle {
    font-size: 40px;
  }
}
